body{
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.statement {
    background-color: rgba(0, 0, 0, 0.871);
    padding: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    width: 40%;
    font-size: x-small;
    margin-left: 25%;
    margin-top: 13%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    transition: all 0.35s ease-in;
    border-radius: 15px;
    color: beige;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  }

  .showFinal {
    background-color: rgba(0, 0, 0, 0.871);
    padding: 15px;
    margin-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: x-large;
    margin-left: 25%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    transition: all 0.35s ease-in;
    border-radius: 15px;
    color: beige;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  }

  button{
    border-radius: 8px;
    margin-top: 15px;
    background-color: rgba(166, 212, 15, 0.794);
  }